body {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    width: 100%;
}

a {
    text-decoration: none;
    color:  black;
}

.block-1 {
    border: solid;
    width: 25%;
    height: 1000px;
    padding: 1%;
}


.block-2 {
    border: solid;
    width: 75%;
    height: 1000px;
    padding: 1%;
}

.start-btn {
    border: solid;
    padding: 1%;
    border-radius: 5px;
    font-size: 20px;
}

.stop-btn {
    border: solid;
    padding: 1%;
    border-radius: 5px;
    font-size: 20px;
    margin: 1%;
}

.maps-btn {
    border: solid;
    padding: 1%;
    border-radius: 5px;
    font-size: 20px;
}